In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")
%matplotlib inline

#### 1. Display Top 5 Rows of The Dataset

In [75]:
df = pd.read_csv("googleplaystore.csv")
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### 2. Check the Last 3 Rows of The Dataset

In [76]:
df.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

#### 3. Find Shape of Our Dataset (Number of Rows & Number of Columns)

In [77]:
df.shape

(10841, 13)

#### 4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

#### 5. Get Overall Statistics About The Dataframe

In [79]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

#### 6. Total Number of App Titles Contain Astrology

In [80]:
len(df[df["App"].str.contains("Astrology")])

3

#### 7. Find Average App Rating

In [81]:
df["Rating"].mean()

4.193338315362443

#### 8. Find Total Number of Unique Category

In [82]:
df["Category"].nunique()

34

#### 9. Which Category Getting The Highest Average Rating?

In [83]:
# df.groupby("Category").mean().reset_index().sort_values(ascending=False)
df["Category"].value_counts().reset_index().iloc[0]

index       FAMILY
Category      1972
Name: 0, dtype: object

#### 10.Find Total Number of App having 5 Star Rating

In [84]:
# df[df["Rating"] == 5]
df.groupby("Rating")["App"].count().loc[5.0]

274

#### 11.Find Average Value of Reviews

In [89]:
pd.to_numeric(df["Reviews"])

for i in df["Reviews"].unique().tolist():
    if not i.isnumeric():
        print(i)

df[df["Reviews"] == "3.0M"]

3.0

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [90]:
df["Reviews"] = df["Reviews"].apply(lambda x : x.replace("M",""))

In [93]:
df["Reviews"] = pd.to_numeric(df["Reviews"])
df["Reviews"].mean()

444111.9265750392

#### 12.Find Total Number of Free and Paid Apps

In [99]:
df["Type"].value_counts()["Free"],df["Type"].value_counts()["Paid"]

(10039, 800)

#### 13. Which App Has Maximum Reviews?

In [102]:
df[df["Reviews"] == max(df["Reviews"])]["App"]

2544    Facebook
Name: App, dtype: object

#### 14. Display Top 5 Apps Having Highest Reviews

In [133]:
df.sort_values(by="Reviews",ascending=False)[:5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,1.000000e+09,Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
3943,Facebook,SOCIAL,4.1,78128208.0,Varies with device,1.000000e+09,Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
381,WhatsApp Messenger,COMMUNICATION,4.4,69119316.0,Varies with device,1.000000e+09,Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
336,WhatsApp Messenger,COMMUNICATION,4.4,69119316.0,Varies with device,1.000000e+09,Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
3904,WhatsApp Messenger,COMMUNICATION,4.4,69109672.0,Varies with device,1.000000e+09,Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device

#### 15. Find Average Rating of Free and Paid Apps

In [125]:
df.groupby("Type").mean().loc[["Free","Paid"],["Rating"]]

        Rating
Type
Free  4.186203
Paid  4.266615

#### 16. Display Top  5 Apps Having Maximum Installs

In [121]:
df["Installs"] = pd.to_numeric(df["Installs"].apply(lambda x : x.replace("+","").replace(",","")),errors="coerce")

In [130]:
df.sort_values(by="Installs",ascending=False)[:5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3896,Subway Surfers,GAME,4.5,27711703.0,76M,1.000000e+09,Free,0,Everyone 10+,Arcade,"July 12, 2018",1.90.0,4.1 and up
3943,Facebook,SOCIAL,4.1,78128208.0,Varies with device,1.000000e+09,Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
335,Messenger – Text and Video Chat for Free,COMMUNICATION,4.0,56642847.0,Varies with device,1.000000e+09,Free,0,Everyone,Communication,"August 1, 2018",Varies with device,Varies with device
3523,Google Drive,PRODUCTIVITY,4.4,2731211.0,Varies with device,1.000000e+09,Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device
3565,Google Drive,PRODUCTIVITY,4.4,2731211.0,Varies with device,1.000000e+09,Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device